.loadMore_btn {
  padding: 0.6rem 1.2rem;
  margin-bottom: 2rem;
  letter-spacing: 0.1rem;
  background-color: var(--btn-bg-color);
  color: var(--btn-text-color);
  border: none;
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  transition: var(--transition);

  &:hover,
  &:focus {
    outline: none;
    background-color: var(--btn-hover-color);
    box-shadow: var(--box-shadow-hover);
  }
}
